@import "tailwindcss";

/* * {
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
code,
em,
strong,
button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
 */
body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}

@layer utilities {
  .fade-border {
    mask-image: radial-gradient(ellipse at center, #000 40%, transparent 70%);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
  }

  .dynamic-bg {
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
  }
}
