@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .fade-border {
    mask-image: radial-gradient(ellipse at center, #000 40%, transparent 70%);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
  }
}
